@font-face {
	font-family: 'FrugalSansRegular';
	src: url('../fonts/ftl_____-webfont.eot');
	src: local('?'), url('../fonts/ftl_____-webfont.woff') format('woff'), url('../fonts/ftl_____-webfont.ttf') format('truetype'), url('../fonts/ftl_____-webfont.svg#webfontkIgqO6eN') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body { width: 100%; margin: 0px; padding: 0px; }

body{
    background-image: url('robots_13h.png');
    font-family: FrugalSansRegular, Tahoma;
    font-size: 18px;
}

div.header {
  background-color: #46367A;
  height: 64px;
  width: 100%;
}

div.divider { width: 100%; height: 7px; background-image: url('divider.png'); margin-bottom: 35px; }
div.dragaction { background-image: url('back.png'); width: 75%; padding: 16px; margin: 8px; border-radius: 6px; font-size: 1.30em; text-align: center; color: white; }

a:link, a:active, a:visited { color: #0066cc; text-decoration: none; }
.dragaction a:link, .dragaction a:active, .dragaction a:visited { color: #99ccff; text-decoration: none; }
a:hover { text-decoration: underline; }

#navcontainer ul
 {
 margin: 0px; padding: 0px;
 background-color: #9c9c9c;
 float: left;
 width: 100%;
 font-size: 0.85em;
 border-left: 1px solid black;
 border-right: 1px solid black;
 }

 #navcontainer ul li { display: inline; }

 #navcontainer ul li a
 {
 padding: 0.3em 1em;
 color: #fcfcfc;
 text-decoration: none;
 float: left;
 border-right: 0px solid #dcdcdc;
 }

 #navcontainer ul li a:hover, #navcontainer ul li a#active
 {
 background-color: #46367A;
 color: #ffffff;
 }
 
 
@media screen and (max-width: 750px) { 
    .row { width: 97% !important; overflow: auto !important; margin: 0px !important; }
    .column { width: 98% !important; }
}