<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<link rel="stylesheet" href="stylesheet.css" type="text/css">
<script type="text/javascript">
jQuery(function(){
	$('#gocache').live('click', function() {
	
	    $.ajax({
	        headers : {
	            "Authorization" : "Login to Tongclaw"
	        },
	        type: "GET",
	        url: 'http://desbest.uk.to/tongclaw/ajaxcontrols.php?page=loginprompt',
	        crossDomain:true,
	        xhrFields: {
	            url: ''+location.href+'',
	            withCredentials: true
	        }, 
	        //contentType: "application/json; charset=utf-8",
	        //dataType: "json",
	        success: function(data) {
	            alert('ok!');
	            //formatData(format_type,data);
	        },
	        error: function(jqXHR, textStatus, errorThrown) {
	            alert(textStatus + ' / ' + errorThrown);
	        }
	        
	}) });  
});  
</script>

<input type="button" id="gocache" class="mediumbutton" value="Cache">